.background {
    background-color:aqua;
}

.main_content {
    background-color: white;
    width: 1001px;
    height: 1000px;
    margin: auto;
    padding: 45px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.list_item {
    background-color: red;
    width: 50px;
    height: 50px;
}

.selected { 
    background-color: brown;
}